@media (max-width: 768px) {

    .menu-toggle {
        display: block !important;
        font-size: 34px;
        color: #fff;
        cursor: pointer;
        z-index: 10001;
    }

    .nav-links {
        position: fixed;
        top: 90px;
        right: 0;
        width: 100%;
        background: linear-gradient(to bottom, #2f4a80, #43a7cf);

        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 25px 0;

        display: none !important;
        z-index: 10000;
    }

    .nav-links.active {
        display: flex !important;
    }

    .nav-links a {
        font-size: 20px;
    }
}
